
.ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
    display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
}

.demand-search-form .ant-form-item {
    margin-bottom: 12px;
}

.demand-page-main {
    display: flex;
}

.demand-page-main .demand-list-container {
    flex: 1;
    padding:24px;
}
.demand-page-main .demand-suggest-container{
    padding: 24px;
    width: 300px;
}

/* 右边最新职位 */
.demand-suggest-container {
    border: 1px solid #eee;
}

.demand-suggest-container > h2 {
    line-height: 48px;
    color: #1799f5;
    border-bottom: 3px solid #1799f5;
    text-indent: 1em;
}

.demand-suggest-container .new-demand-list {
    line-height: 32px;
    padding-left: 24px;;
}

.demand-suggest-container .new-demand-list a {
    color: rgba(0, 0, 0, 0.65);
}
.demand-suggest-container .new-demand-list a:hover {
    color: #1890ff;
}

.demand-suggest-container .new-demand-list .new-demand-description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 12px;
    list-style-position: inside;
}
/* 右边最新职位end */

.demand-list-container .ant-table-thead {
    background-color: #4d9cd7;
}
.demand-list-container .ant-table-thead > tr th {
    background: transparent;
    color: white;
    border-bottom: 2px solid #3393d7;
}

/* radio group */
.demand-search-form .radio-container {
    display: flex;
    line-height: 30px;
}
.demand-search-form .radio-container .label {
    width: 6em;
    text-align: right;
}
.demand-search-form .radio-container .ant-radio-group {
    flex: 1;
}

/* Radio button */
.demand-search-form .ant-radio-button-wrapper {
    border: 0;
    padding-left: 8px;
    padding-right: 8px;
}
.demand-search-form .ant-radio-button-wrapper:before,
.demand-search-form .ant-radio-button-wrapper:first-child {
    border: 0 !important;
    background: none !important;
}
.demand-search-form .ant-radio-button-wrapper-checked {
    box-shadow: none;
}
.demand-search-form .ant-radio-button-wrapper:before,
.demand-search-form .ant-radio-button-wrapper:after {
    display: none;
}

