
.ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
    display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
}

.demand-search-form .ant-form-item {
    margin-bottom: 12px;
}

.demand-page-main {
    display: flex;
}

.demand-page-main .demand-list-container {
    flex: 1;
    padding:24px;
}
.demand-page-main .demand-suggest-container {
    padding: 24px;
    width: 400px;
}

.demand-list-container .ant-table-thead {
    background-color: #4d9cd7;
}
.demand-list-container .ant-table-thead > tr th {
    background: transparent;
    color: white;
    border-bottom: 2px solid #3393d7;
}


