.ant-layout {
  background: #fff;
}

/* 积分规则 */
.score-rule-container {
  padding: 24px;
  padding-top: 0px;
  text-align: center;
}
.score-rule-container .ant-list-item-content {
  justify-content: center;
}

.score-rule-container .ant-list-header {
  background-color: #5af;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
/* 积分规则 end*/


/* 我的当前积分 */
.current-score-container {
  padding-bottom: 40px;
}
/* 我的当前积分 end */

/* 职位描述列 */
.mydemand-list-memo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 职位描述列 */